<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.SysVersionUpgradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.entity.SysVersionUpgrade">
        <id column="id" property="id" />
        <result column="app_source" property="appSource" />
        <result column="newest_version_display" property="newestVersionDisplay" />
        <result column="newest_version_decide" property="newestVersionDecide" />
        <result column="download_url" property="downloadUrl" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_source, newest_version_display, newest_version_decide, download_url, create_time, update_time
    </sql>

</mapper>
